/*
 *
 * Colors
 *
*/

.white-text {
    color: #fff;
}

.orange-text {
    color: #f5ae23;
}

.light-blue-text {
    color: #b6d0f2;
}

.dark-blue-bg {
    background-color: #30478c;
}

.light-blue-bg {
    background-color: #b6d0f2;
}

.gray-blue-bg {
    background-color: #e9f2f1;
}

/*
 *
 * General
 *
*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {  /*Clear out any browser defaults first*/
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    border-radius: 15%;
    padding: 10px;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    main {
        margin: 0 auto;
        width: 1200px; /*For huge screens, just keep page in middle*/
    }
}

/*
 *
 * Header (& Footer uses some as well)
 *
*/

h1 {
    font-size: 40px;
    line-height: 48px;
    display: inline;
}

.header-role {
    display: inline;
    padding: 5px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-align-items: center;
    align-items: center;
}

span {
    padding: 5px;
}

.pic-box {
    width: 20%;
}

.skills-box {
    width: 80%;
}

/*
 *
 * Main sections
 *
*/

.work-entry,
.project-entry {
    width: 30%;
    text-align: center;
}

.education-entry {
    width: 50%;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding: 10px;
    text-align: center;
}

h3 {
    color: #000;
    margin: 15px 0 0;
    padding: 10px;
}

.no-margin {
    margin: 0px;
}

.logo {
    display: block;
    margin: 0 auto;
}

a {
    color: #30478C;
    text-decoration: none;
    padding: 10px 0 10px;
}

.date-text,
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #777;
    line-height: 16px;
    text-align: center;
    margin: 0 0 5px;
}

/*
 *
 * Expand Details 'Button'
 *
*/

.details-btn {
    background-color: #f5ae23;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px #000;
}

.details-shell {
    margin: 20px;
}

.expanded-text {
    font-size: 14px;
    color: #333;
    line-height: 21px;
    text-align: left;
}

.hidden {
    display: none;
}

/*
 *
 * Map
 *
*/

.map-image {
    display: block;
    height: 100%;
    margin: 0 5%;
}

.map-container {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
    margin: 0 0 20px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {  /*Header contact info is too scrunched*/
    .flex-item {
        margin: 5px 0 0;
    }
    
    hr {
        margin: 5px 0 -5px;
    }
}

@media only screen and (max-width: 780px) {
    .welcome-message {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .work-entry,
    .project-entry {
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .header-role {
        display: block;
        text-align: center;
    }
    
    h1 {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .pic-box {
        width: 45%;
    }
}

@media only screen and (max-width: 499px) {
    .work-entry,
    .project-entry {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .skills-header {
        display: none;
    }
}
